body {
	font-family: monospace;
}

table {
	border: 1px solid black;
}

input[type=text] {
	width: 100%;
}

input[readonly] {
	border: 0;
}

output {
	white-space: pre-wrap;
}

#out {
	float: right;
	text-align: right;
}

span.gray {
	color: grey;
}

span.red {
	color: red;
}