body {
    position: relative; /* to make height work */
    height: 100%; /* to make .linelayer height work */
    background: #000;
    font-family: "Trebuchet MS", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
}

.box {
    box-shadow: inset 0 0 8px #000;
}
#selection {
    background: #fff;
}
#filtration {
    background: #222;
}
#visualization {
    background: #222;
}
#in-training-i {
    background: radial-gradient(#7ef, #4ac);
}
#in-training-ii {
    background: radial-gradient(#4ac, #048);
}
#rookie {
    background: radial-gradient(#b50, #310);
}
#champion {
    background: radial-gradient(#eee, #666);
}
#ultimate {
    background: radial-gradient(#ff4, #c90);
}
#mega {
    background: radial-gradient(#0000, #0004),
        linear-gradient(to top right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.box-label {
    position: -webkit-sticky; /* for iOS*/
    position: sticky;
    left: 4px;
    width: max-content;
    background: #fff8;
    padding: 0 4px;
    border-radius: 4px;
    cursor: pointer;
}

.scroller {
    padding: 4px 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; /* for iOS */
}

.profile-group {
    width: max-content;
    padding: 0 4px;
    margin: auto;
}

.profile {
    font-size: 10px;
    vertical-align: top;
    margin: 2px 1px;
    display: inline-block;
}
.profile.small {
    font-size: 8px;
}
.profile.large {
    font-size: 12px;
}

.card {
    position: relative; /* to make .preview z-index and .advent position work */
    width: 64px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 10%;
    cursor: pointer;
}
@media (hover: hover) {
    .card:hover {
        border-color: #fff;
    }
}
.small .card {
    width: 48px;
}
.large .card {
    width: 80px;
}
#in-training-i .card {
    background: #7ee;
}
#in-training-ii .card {
    background: #5cf;
}
#rookie .card {
    background: #f82;
}
#champion .card {
    background: #eee;
}
#ultimate .card {
    background: #fe3;
}
#mega .card {
    background: linear-gradient(to top right, #f44, #ff4, #4f4, #4ff, #44f, #f4f, #f44);
}
.root .card {
    box-shadow: 0 0 0 2px #fff;
    border-color: #000;
    cursor: default;
}
.core-node .card {
    box-shadow: 0 0 0 1px #fff;
}
.node .card {
    box-shadow: 0 0 1px 1px #fff;
}
.preview .card {
    background: #000 !important; /* since classes are less specific than ids */
    color: #fff;
    z-index: 1;
}
.advent .card:after {
    content: "!";
    position: absolute;
    top: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #f80;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
}
.small.advent .card:after {
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.large.advent .card:after {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
}

.portrait {
    width: 64px;
    height: 64px;
    background: url(img/mon/none.png);
    background-size: 64px;
    border-radius: 10%;
    display: block;
}
.small .portrait {
    width: 48px;
    height: 48px;
    background-size: 48px;
}
.large .portrait {
    width: 80px;
    height: 80px;
    background-size: 80px;
}

.tribe {
    position: relative; /* to make background work */
    width: 25%;
    background: radial-gradient(#000 55%, #0000 70%);
    border-radius: 50%;
    margin: -100% 0 75% 0;
    display: block;
}

.moniker {
    text-align: center;
    overflow: hidden;
}

.signature-group {
    position: relative; /* to make z-index work */
    width: 64px;
    background: #fff8;
    text-shadow: 0 0 1px #fff;
    padding: 2px;
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1;
    display: none;
}
.small .signature-group {
    width: 48px;
}
.large .signature-group {
    width: 80px;
}
#mega .signature-group {
    display: block;
}

.rival {
    width: 20%;
    vertical-align: bottom;
    filter: brightness(0);
}

.tier {
    float: right;
}

.growlmon {
    position: relative; /* to make z-index work */
    background: #f888;
    text-align: center;
    text-shadow: 0 0 1px #f88;
    padding: 2px;
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1;
    display: none;
}
.growlmon a {
    color: #800;
    text-decoration: none;
}
#selection .growlmon {
    display: block;
}

#linelayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#header, #footer {
    color: #666;
    text-align: center;
}

.foot {
    margin: 0 12px;
    cursor: pointer;
}
@media (hover: hover) {
    .foot:hover {
        color: #888;
    }
}

#search {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 4px 0;
    border: none;
}

.switchboxes {
    color: #aaa;
    text-align: center;
    margin-bottom: 6px;
}

.switchbox {
    width: 25%;
    min-width: max-content;
    display: inline-block;
}

.switchbox-label {
    transform: translateY(6px);
    width: max-content;
    line-height: 12px;
    background: #222;
    font-size: 12px;
    padding: 0 6px;
    margin: auto;
}

.switch-group {
    width: max-content;
    padding: 3px 6px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin: auto;
}

.toggle-search {
    background: linear-gradient(to right, #aaa2, #aaa, #aaa2);
    color: #222;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}
@media (hover: hover) {
    .toggle-search:hover {
        background: #888;
        color: #000;
    }
}

.switch {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    filter: grayscale(1) brightness(5) opacity(0.5);
    cursor: pointer;
}
.switch.selected {
    filter: drop-shadow(0 0 2px #fff);
}
.switch.mirage.selected {
    filter: drop-shadow(0 0 2px #eee);
}
.switch.blazing.selected {
    filter: drop-shadow(0 0 2px #f00);
}
.switch.glacier.selected {
    filter: drop-shadow(0 0 2px #0af);
}
.switch.electric.selected {
    filter: drop-shadow(0 0 2px #ff0);
}
.switch.earth.selected {
    filter: drop-shadow(0 0 2px #4b4);
}
.switch.bright.selected {
    filter: drop-shadow(0 0 2px #fd0);
}
.switch.abyss.selected {
    filter: drop-shadow(0 0 2px #f29);
}
@media (hover: hover) {
    .switch:hover {
        filter: drop-shadow(0 0 2px #fff);
    }
    .switch.mirage:hover {
        filter: drop-shadow(0 0 2px #eee);
    }
    .switch.blazing:hover {
        filter: drop-shadow(0 0 2px #f00);
    }
    .switch.glacier:hover {
        filter: drop-shadow(0 0 2px #0af);
    }
    .switch.electric:hover {
        filter: drop-shadow(0 0 2px #ff0);
    }
    .switch.earth:hover {
        filter: drop-shadow(0 0 2px #4b4);
    }
    .switch.bright:hover {
        filter: drop-shadow(0 0 2px #fd0);
    }
    .switch.abyss:hover {
        filter: drop-shadow(0 0 2px #f29);
    }
}

.slideboxes {
    color: #aaa;
    display: flex;
}

.slidebox {
    text-align: center;
    padding: 2px;
    flex: 1;
}

.slidebox-label {
    width: max-content;
    line-height: 10px;
    background: #222;
    font-size: 10px;
    padding: 0 4px;
    border-radius: 5px;
    margin: -5px auto -3px auto;
    pointer-events: none;
}

.slide-group {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}
@media (hover: hover) {
    .slide-group:hover {
        color: #ddd;
        border-color: #ddd;
    }
}

.slide {
    height: 13px; /* for letters with tails */
    line-height: 12px;
    font-size: 12px;
    overflow: hidden;
}

.hidden {
    display: none;
}
