body {
    position: relative; /* to make height work */
    height: 100%; /* to make .linelayer height work */
    background: #000;
    font-family: 'Trebuchet MS', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    margin: 0;
    overflow-x: hidden;
}
body.drag { /* for planner */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.section {
    box-shadow: inset 0 0 8px #000;
}
#selection {
    background: #fff;
}
#planner {
    background: #123;
}
#filtration, #visualization {
    background: #222;
}
#in-training-i {
    background: radial-gradient(#7ef, #4ac);
}
#in-training-ii {
    background: radial-gradient(#4ac, #048);
}
#rookie {
    background: radial-gradient(#b50, #310);
}
#champion {
    background: radial-gradient(#eee, #666);
}
#ultimate {
    background: radial-gradient(#ff4, #c90);
}
#mega {
    background: linear-gradient(to top right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.scroller {
    padding: 4px 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; /* for iOS */
}

.bar-button {
    background: linear-gradient(to right, transparent, #aaa, transparent);
    color: #222;
    text-align: center;
    padding: 4px;
    cursor: pointer;
}
@media (hover: hover) {
    .bar-button:hover {
        background: #888;
        color: #000;
    }
}

/* Profile Groups */

.profile-group {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 4px;
    margin: auto;
}

.evol-label {
    position: -webkit-sticky; /* for iOS */
    position: sticky;
    left: 4px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background: #fff8; /* NOTE: incompatible with old iOS */
    text-shadow: 0 0 4px #fff;
    box-shadow: inset 0 0 4px #fff;
    padding: 0 4px;
    border-radius: 4px;
    cursor: pointer;
}

.profile {
    position: relative; /* to make .frag-counter position work */
    font-size: 10px;
    vertical-align: top;
    margin: 2px 1px;
    display: inline-block;
}
.profile.small {
    font-size: 8px;
}
.profile.large {
    font-size: 12px;
}

.frag-counter {
    position: absolute;
    width: 24px;
    height: 12px;
    line-height: 12px;
    background: #ccc;
    background: #fff8; /* NOTE: incompatible with old iOS */
    font-size: 12px;
    text-align: right;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 52px 0 0 40px;
    z-index: 2;
}
.small .frag-counter {
    width: 22px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    margin: 38px 0 0 26px;
}
.large .frag-counter {
    width: 26px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin: 66px 0 0 54px;
}
#selection .frag-counter {
    display: none;
}
.frag-counter::-webkit-inner-spin-button, .frag-counter::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.frag-counter.n {
    background: #ddd;
}
.frag-counter.vii {
    background: #fff;
}
.frag-counter.xi {
    background: #ff8;
}
.frag-counter.xiv {
    background: #8ff;
}
.frag-counter.xxi {
    background: #8f8;
}
.frag-counter.xxxv {
    background: #0f0;
    box-shadow: 0 0 0 1px #0f0;
}

.card {
    position: relative; /* to make .preview z-index and .advent position work */
    width: 64px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 10%;
    cursor: pointer;
}
.small .card {
    width: 48px;
}
.large .card {
    width: 80px;
}
#in-training-i .card {
    background: #7ee;
}
#in-training-ii .card {
    background: #5cf;
}
#rookie .card {
    background: #f82;
}
#champion .card {
    background: #eee;
}
#ultimate .card {
    background: #fe3;
}
#mega .card {
    background: linear-gradient(to top right, #f44, #ff4, #4f4, #4ff, #44f, #f4f, #f44);
}
@media (hover: hover) {
    .card:hover {
        border-color: #fff;
    }
}
.root .card {
    box-shadow: 0 0 0 2px #fff;
    border-color: #000;
    cursor: default;
}
.core-node .card {
    box-shadow: 0 0 0 1px #fff;
}
.node .card {
    box-shadow: 0 0 1px 1px #fff;
}
.preview .card {
    background: #000 !important; /* since classes are less specific than ids */
    color: #fff;
}
.advent .card:after {
    content: '!';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #f80;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    z-index: 2;
}
.small.advent .card:after {
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
}
.large.advent .card:after {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
}

.portraiture {
    position: relative;
    width: 64px;
    height: 64px;
    display: block;
}
.small .portraiture {
    width: 48px;
    height: 48px;
}
.large .portraiture {
    width: 80px;
    height: 80px;
}

.backing {
    position: absolute;
    width: 100%;
    height: 100%;
}
.root .backing, .preview .backing {
    opacity: 0.25;
}
.portrait {
    position: absolute;
    width: 100%;
    height: 100%;
}
.preview .portrait {
    z-index: 1;
}
.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    pointer-events: none;
}
.root .frame, .preview .frame {
    display: none;
}
@media (hover: hover) {
    .card:hover .backing {
        opacity: 0.25;
    }
    .card:hover .frame {
        display: none;
    }
}

.tribe {
    position: relative; /* to make background work */
    width: 25%;
    background: radial-gradient(#000 55%, transparent 70%);
    border-radius: 50%;
    margin: -100% 0 75% 0;
    display: block;
}
.preview .tribe {
    z-index: 2;
}

.moniker {
    text-align: center;
    overflow: hidden;
}
.preview .moniker {
    position: relative; /* to make z-index work */
    background: inherit;
    z-index: 2;
}

.signature-set {
    position: relative; /* to make z-index work */
    width: 64px;
    background: #eee;
    background: #fff8; /* NOTE: incompatible with old iOS */
    text-shadow: 0 0 1px #fff;
    padding: 2px;
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1;
    display: none;
}
.small .signature-set {
    width: 48px;
}
.large .signature-set {
    width: 80px;
}
#mega .signature-set {
    display: block;
}

.skill-icon {
    width: 20%;
    vertical-align: bottom;
    filter: brightness(0);
}

.info {
    position: relative; /* to make z-index work */
    background: #fcd;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    margin-top: 2px;
    z-index: 1;
    display: none;
}
.info a {
    color: #800;
    text-decoration: none;
}
#selection .info {
    display: block;
}

/* Planner */

.nopad {
    padding: 0;
}

#plan-group {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.plan {
    position: relative;
    width: 64px;
    background: #456;
    color: #abc;
    text-align: center;
    vertical-align: top;
    margin: 1px;
    display: inline-block;
}
.plan.drag {
    box-shadow: 0 0 10px 1px #000;
    z-index: 1;
}

.x {
    height: 24px;
    background: #620;
    color: #d88;
    cursor: pointer;
}
.x:after {
    content: '×';
    line-height: 24px;
}

.awkn {
    height: 24px;
    line-height: 24px;
}

.viewer {
    position: relative;
    min-height: 96px;
    cursor: pointer;
}
.viewer:hover:after {
    content: 'VIEW';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 32px;
    line-height: 32px;
    background: linear-gradient(transparent, #000);
    background: linear-gradient(transparent, #0008); /* NOTE: incompatible with old iOS */
    text-shadow: 0 0 8px #000;
    color: #fff;
    padding-top: 64px;
}

.viewer img {
    width: 32px;
    height: 32px;
    background-size: 32px;
    vertical-align: top;
    border-radius: 10%;
}
.viewer img.photo-1 {
    background-image: url(img/backing/1.png);
}
.viewer img.photo-2 {
    background-image: url(img/backing/2.png);
}
.viewer img.photo-3 {
    background-image: url(img/backing/3.png);
}
.viewer img.photo-4 {
    background-image: url(img/backing/4.png);
}
.viewer img.photo-5 {
    background-image: url(img/backing/5.png);
}

.note {
    width: 60px;
    min-height: 28px;
    max-height: 124px;
    background: #def;
    color: #123;
    padding: 2px;
    border: 0;
    resize: vertical;
    display: block;
}

.handle {
    height: 24px;
    background: #345;
    cursor: move;
    cursor: -webkit-grab;
}
.handle:after {
    content: '≡';
    line-height: 24px;
}

.noplan {
    background: linear-gradient(to right, #000, #222, #000);
    color: #888;
}

/* Filtration */

#search {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 4px 0;
    border: none;
}

.switchbox-set {
    color: #aaa;
    text-align: center;
    margin-bottom: 6px;
}

.switchbox {
    width: 25%;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    display: inline-block;
}

.switchbox-label {
    transform: translateY(6px);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 12px;
    background: #222;
    font-size: 12px;
    padding: 0 6px;
    margin: auto;
}

.switch-set {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 3px 6px;
    border: 1px solid #aaa;
    border-radius: 8px;
    margin: auto;
}

.switch {
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    filter: grayscale(1) brightness(5) opacity(0.5);
    cursor: pointer;
}
.switch.selected {
    filter: drop-shadow(0 0 2px #fff);
}
.switch.mirage.selected {
    filter: drop-shadow(0 0 2px #eee);
}
.switch.blazing.selected {
    filter: drop-shadow(0 0 2px #f00);
}
.switch.glacier.selected {
    filter: drop-shadow(0 0 2px #0af);
}
.switch.electric.selected {
    filter: drop-shadow(0 0 2px #ff0);
}
.switch.earth.selected {
    filter: drop-shadow(0 0 2px #4b4);
}
.switch.bright.selected {
    filter: drop-shadow(0 0 2px #fd0);
}
.switch.abyss.selected {
    filter: drop-shadow(0 0 2px #f29);
}
@media (hover: hover) {
    .switch:hover {
        filter: drop-shadow(0 0 2px #fff);
    }
    .switch.mirage:hover {
        filter: drop-shadow(0 0 2px #eee);
    }
    .switch.blazing:hover {
        filter: drop-shadow(0 0 2px #f00);
    }
    .switch.glacier:hover {
        filter: drop-shadow(0 0 2px #0af);
    }
    .switch.electric:hover {
        filter: drop-shadow(0 0 2px #ff0);
    }
    .switch.earth:hover {
        filter: drop-shadow(0 0 2px #4b4);
    }
    .switch.bright:hover {
        filter: drop-shadow(0 0 2px #fd0);
    }
    .switch.abyss:hover {
        filter: drop-shadow(0 0 2px #f29);
    }
}

/* Visualization */

.slidebox-set {
    color: #aaa;
    display: flex;
}

.slidebox {
    text-align: center;
    padding: 2px;
    flex: 1;
}

.slidebox-label {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 10px;
    background: #222;
    font-size: 10px;
    padding: 0 4px;
    border-radius: 5px;
    margin: -5px auto -3px auto;
    pointer-events: none;
}

.slide-set {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
}
@media (hover: hover) {
    .slide-set:hover {
        color: #ddd;
        border-color: #ddd;
    }
}

.slide {
    height: 13px; /* for letters with tails */
    line-height: 12px;
    font-size: 12px;
    overflow: hidden;
}

/* Footer */

#footer {
    color: #888;
    text-align: center;
    padding: 8px;
}
#footer > div {
    padding: 12px 0;
}
#footer a, .toe {
    color: #aaa;
    text-decoration: underline;
    cursor: pointer;
}
@media (hover: hover) {
    #footer a:hover, .foot:hover {
        color: #eee;
    }
}

#paypal {
    position: relative; /* to make z-index work */
    background: none;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 0;
    margin: 0;
    transition: all 10s linear;
    z-index: 1;
}
#paypal:after {
    content: ' ☹︎';
    white-space: pre;
    color: transparent;
    width: 0;
    margin: 0 14px 0 -14px;
    display: inline-block;
    transition: all 10s linear;
}
#paypal:hover {
    background: #000;
    padding: 32px;
    border: 1px solid #fff;
    border-radius: 32px;
    margin: -32px;
    transition: none;
}
#paypal:hover:after {
    content: ' ☺︎';
    color: #fff;
    margin: 0;
    transition: none;
}

#tile-box {
    width: 64px;
    background: #fff;
    padding: 4px;
    border-radius: 4px;
    margin: auto;
}

.iOS-tile:after {
    content: "Long press to save.";
    font-size: 10px;
}

#tile {
    width: 64px;
    height: 64px;
    background: #000;
    display: block;
}
#tile.nonon {
    -ms-interpolation-mode: nearest-neighbor;
    -moz-image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.plugin {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 15%;
}

/* Linelayer */

#linelayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hidden {
    display: none;
}
