body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	perspective: 1024px;
}
.row {
	position: relative;
	height: 50px;
	display: block;
}
.tile {
	background: black;
	position: relative;
	height: 50px;
	width: 50px;
	display: inline-block;
	cursor: pointer;
}
.tile:hover {
	background: grey;
}
