body {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	perspective: 1024px;
}
.tile {
	background: grey;
	position: relative;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}
.tile:hover {
	background: slategrey;
}