body {
	background: #abcdef;
	color: #123456;
	margin: 0;
}

ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul > li {
	padding: 10px;
	flex: 1;
}

h1 {
	text-align: center;
}

canvas {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.variable {
	position: fixed;
	top: 0;
	left: 50%;
	background: #123456;
	color: #abcdef;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

span {
	pointer-events: none;
}

.noselect {
	user-select: none;
}